# URL del Backend (en desarrollo en dispositivo físico, se detecta automáticamente la IP de Metro si no se define)
EXPO_PUBLIC_API_URL=http://localhost:3001/api

# OAuth IDs
EXPO_PUBLIC_GOOGLE_CLIENT_ID=459101292666-53tga4c1l8u2se5k21gsf5rk85825udq.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=459101292666-ios-dummy.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=459101292666-android-dummy.apps.googleusercontent.com
EXPO_PUBLIC_DISCORD_CLIENT_ID=1481428590657798185
EXPO_PUBLIC_FACEBOOK_CLIENT_ID=1704361534307487
EXPO_PUBLIC_X_CLIENT_ID=WnhVWUxzSk1yQVVQd2N1cXI1ZEI6MTpjaQ
EXPO_PUBLIC_GITHUB_CLIENT_ID=Ov23liJ6BviSWYj4lt5c
